@model TestWebWPF_v1.Models.ChuongTruyen

@{
    ViewData["Title"] = "formEditChapter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sửa chương</h1>

<hr />
<p>
    <a href="@Url.Action("formChitietTruyen","Manga",new { Id=@ViewBag.MangaId,success=false})" class="btn btn-primary">Quay lại</a>
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditChapter" enctype="multipart/form-data" method="post">
            <div class="row">
                <label class="control-label">Mã Chương</label>
                <input asp-for=ChapterId type="text" name="maChuong" class="form-control" readonly/>
                <span class="error-msg"></span>
            </div>
            <div class="row">
                <label class="control-label">Tên Chương</label>
                <input asp-for=ChapterName type="text" name="tenChuong" class="form-control" onblur="validateInput(this)" required />
                <span class="error-msg"></span>
            </div>
            <div class="row">
                <label class="control-label">Tiêu để chương</label>
                <input asp-for="ChapterTitle" type="text" name="TieuDe" class="form-control" onblur="validateInput(this)" required />
                <span class="error-msg"></span>
            </div>
            <div class="row">
                <label class="control-label">Url</label>
            </div>
            <div class="row">
                <textarea name="dsurl" rows="8" cols="50"></textarea>
            </div>
            <div class="row">
                <input type="file" name="file" multiple />
                <input type="text" name="MangaId" value="@ViewBag.MangaId" hidden="hidden" />
            </div>
            <div class="row">
                <p>
                    <input id="submit" type="submit" value="Sửa" class="btn btn-primary" />
                </p>
            </div>
        </form>
    </div>
</div>
@section Manga{
    <script>
        function validateInput(inputElement) {
            var inputValue = inputElement.value.trim();
            var errorElement = inputElement.nextElementSibling;

            if (inputValue === "") {
                errorElement.textContent = "Không được bỏ trống.";
                errorElement.classList.add("error-msg");
            } else {
                errorElement.textContent = "";
                errorElement.classList.remove("error-msg");
            }
        }
    </script>
}